body {
    background-image: url("Imagenes/Fondo.jpg")
}
#TiruloPrinc{
    color: black;
    background-color: green;
    text-align: center;
    text-shadow: 2px 2px 5px;
    
    display: flex;
    flex-direction: row;
    
    /* flex-wrap: nowrap; por defecto */
    flex-wrap: wrap;
}
