body {
    background-image: url("Imagenes/Fondo.jpg")
}
#TiruloPrinc{
    color: black;
    background-color: green;
    text-align: center;
    text-shadow: 2px 2px 5px ;
    animation-name: ejemplo;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes ejemplo {
    0% {from{ background-color: green;}}
    33% {from{ background-color: greenyellow;}}
    66% {from{ background-color: green;}}
   100% {from{ background-color: greenyellow;}}


}
.sticky{
    position: sticky;
    background-color: #c9f3c9;
    background-size: auto;
    font-size: 160%;
    text-align: center;
    text-decoration: none;
    

}
#Fecha_16{
    background-color: greenyellow;
    border: 1px solid black;
    border-style: inset;
    position: relative;
    border-collapse: collapse;
    
  
    margin-left: 34%;


}



/* Estilo para las celdas de la tabla */
td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

/* Estilo para las filas pares */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para el encabezado de la tabla */
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
#Fecha_Anterior{
    margin-left: 42%;
}
.Fecha{
    text-align: center;
    position: relative;
    margin-top: 15px;
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Sin bordes */
    color: black; /* Color del texto */
    padding: 15px 32px; /* Relleno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block;
    font-size: 16px;
   font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
#Fecha_15, #Fecha_17{
    position: absolute;
    visibility: hidden;
}